body {
    background-color: black;
    background-image: url(../img/splash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#mdc-top-app-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: rgb(var(--bg-app-bar));
    color: rgba(var(--text-color), var(--opacity-primary));
    box-shadow: var(--z-axis-4-shadow);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
    padding: 0 1.5rem;
    transition: top 0.6s, box-shadow 0.3s, transform 0.2s, opacity 0.2s, margin 0.3s, left 0.3s, right 0.3s;
    z-index: 4000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mdc-top-app-bar > .nav-icon {
    display: none;
    margin-right: 1.5rem;
}

html:not([dir]) #mdc-top-app-bar > .nav-icon,
html[dir="ltr"] #mdc-top-app-bar > .nav-icon {
    margin-right: 1.5rem;
    margin-left: 0;
}

html[dir="rtl"] #mdc-top-app-bar > .nav-icon {
    margin-right: 0;
    margin-left: 1.5rem;
}

#mdc-top-app-bar .title {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.0125em;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}

#mdc-top-app-bar .actions {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 4rem;
    margin: 0 0 0 auto;
}

html[dir="ltr"] #mdc-top-app-bar .actions,
html[dir] #mdc-top-app-bar[dir="ltr"] .actions {
    margin: 0 0 0 auto;
}

html[dir="rtl"] #mdc-top-app-bar .actions,
html[dir] #mdc-top-app-bar[dir="rtl"] .actions {
    margin: 0 auto 0 0;
}

#mdc-top-app-bar .actions > .action-item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1.5rem;
}

html[dir="ltr"] #mdc-top-app-bar .actions > .action-item,
html[dir] #mdc-top-app-bar[dir="ltr"] .actions > .action-item {
    margin-left: 1.5rem;
    margin-right: 0;
}

html[dir="rtl"] #mdc-top-app-bar .actions > .action-item,
html[dir] #mdc-top-app-bar[dir="rtl"] .actions > .action-item {
    margin-left: 0;
    margin-right: 1.5rem;
}

#mdc-top-app-bar .salamat-logo {
    height: 2rem;
}

#mdc-page-content.nano > .nano-pane {
    width: 0.5rem;
}

#mdc-page-content.nano > .nano-pane {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.card.patient-form {
    padding-right: 19rem;
    background-image: url(../img/prescription.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

pre.doctor-notes {
    background-color: rgb(var(--bg-app-bar));
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.25rem;
}
