html, body {
    height: 100%;
}

html:lang(en-US) *, html[lang] *:lang(en-US), html[lang] *:lang(en-US) * {
    font-family: 'Roboto', sans-serif;
}
html:lang(ar-BH) *, html[lang] *:lang(ar-BH), html[lang] *:lang(ar-BH) * {
    font-family: 'arabic_notosans_regular', 'Roboto', sans-serif;
}

html[dir="ltr"] *, html[dir] *[dir="ltr"], html[dir] *[dir="ltr"] * {
    direction: ltr;
}
html[dir="rtl"] *, html[dir] *[dir="rtl"], html[dir] *[dir="rtl"] * {
    direction: rtl;
}

.auth-container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: black;
    background-image: url(../img/splash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.auth-container > .auth-form {
    position: relative;
    border-radius: 0.25rem;
    width: 26rem;
    max-width: 100%;
    padding: 2rem 2.5rem 2.5rem;
    margin: auto;
    background-color: rgb(var(--bg-cards));
    box-shadow: var(--z-axis-24-shadow);
}

.auth-container > .auth-form > .header {
    text-align: center;
}

.auth-container > .auth-form > .header > .logo {
    margin-bottom: 0.5rem;
    height: 4rem;
}

.auth-container > .auth-form > .header > .logo > svg {
    height: 100%;
}

.auth-container > .auth-form > .header > .selected-user {
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: solid 0.0625rem rgba(var(--text-color), var(--opacity-divider));
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    text-align: inherit;
    color: rgba(var(--text-color), var(--opacity-primary));
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition: all 0.3s;
}

.auth-container > .auth-form > .header > .selected-user:not(.disabled):hover,
.auth-container > .auth-form > .header > .selected-user:not(.disabled):focus {
    --text-color: var(--salamat-color);
    border-color: rgb(var(--salamat-dark));
}

.auth-container > .auth-form > .header > .selected-user > .material-icon {
    margin: 0.5rem;
    width: 1.5rem;
    height: auto;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    color: rgba(var(--text-color), var(--opacity-secondary));
}

.auth-container > .auth-form > .header > .selected-user > .trailing {
    margin-left: auto;
}

.auth-container > .auth-form > .header > .selected-user > .text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.5rem 1rem;
}

.auth-container > .auth-form > .clinics-list > .mdc-list-group {
    border: solid 0.0625rem rgba(var(--text-color), var(--opacity-divider));
    border-radius: 0.25rem;
}

.auth-container > .auth-form > .loading-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.25rem;
    overflow: hidden;
    z-index: 99;
    will-change: visibility, opacity;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.auth-container > .auth-form > .loading-block.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.auth-container > .auth-form .loading-block::before {
    content: '';
    background-color: rgb(var(--bg-cards));
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.auth-container > .pexels {
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 1rem;
}
