body {
    transition: padding 0.3s;
    padding: 0;
    padding-top: 4rem;
}

#mdc-nav-drawer {
    max-width: 20rem;
    min-width: 16rem;
    width: 16rem;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--bg-app-bar));
    /* z-index: 16000; */
    /* border-right: solid 1px var(--salamat-secondary); */
    box-shadow: var(--z-axis-1-shadow);
    transition: all 0.3s;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow: column;
    overflow-x: hidden;
    overflow-y: auto;
}

html[dir="ltr"] #mdc-nav-drawer {
    left: 0;
    right: auto;
    /* border-right: solid 1px var(--salamat-secondary);
    border-left: none; */
}

html[dir="rtl"] #mdc-nav-drawer {
    left: auto;
    right: 0;
    /* border-right: none;
    border-left: solid 1px var(--salamat-secondary); */
}

#mdc-nav-drawer .header {
    background-color: rgb(var(--salamat-color));
    background-image: url('../img/nav-header.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 0;
    flex: 0 1 auto;
}

#mdc-nav-drawer .header > .user-avatar {
    margin: 1rem;
}

#mdc-nav-drawer .header > .user-avatar > .material-icon {
    padding: 0.5rem;
    display: inline-block;
    border-radius: 100%;
    background-color: white;
    color: rgb(var(--salamat-color));
}

#mdc-nav-drawer .header > .dropdown > .user-info {
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(0deg, rgba(0,0,0,0.92) 0%, rgba(0,0,0,0.4) 64%, rgba(0,0,0,0) 100%);
}

#mdc-nav-drawer .header > .dropdown > .user-info::after {
    display: none;
}

#mdc-nav-drawer .header > .dropdown.show > .user-info > .meta.icon {
    transform: rotate(-180deg);
}

#mdc-nav-drawer .header > .dropdown > .user-info ~ .dropdown-menu {
    min-width: 14.5rem;
}

#mdc-nav-drawer .header > .dropdown > .user-info ~ .dropdown-menu .mdc-list-item {
    color: inherit;
}

#mdc-nav-drawer > nav {
    flex: 1 1 auto;
    overflow: hidden;
}

#mdc-nav-drawer .mdc-list-container.nav-links .mdc-list-item .icon {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.5rem;
}

#mdc-nav-drawer .mdc-list-container.nav-links .mdc-list-item .text {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

#mdc-top-app-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: rgb(var(--bg-app-bar));
    color: rgba(var(--text-color), var(--opacity-primary));
    box-shadow: var(--z-axis-4-shadow);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
    padding: 0 1.5rem;
    transition: top 0.6s, box-shadow 0.3s, transform 0.2s, opacity 0.2s, margin 0.3s, left 0.3s, right 0.3s;
    z-index: 4000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mdc-top-app-bar > .nav-icon {
    display: none;
    margin-right: 1.5rem;
}

html:not([dir]) #mdc-top-app-bar > .nav-icon,
html[dir="ltr"] #mdc-top-app-bar > .nav-icon {
    margin-right: 1.5rem;
    margin-left: 0;
}

html[dir="rtl"] #mdc-top-app-bar > .nav-icon {
    margin-right: 0;
    margin-left: 1.5rem;
}

#mdc-top-app-bar .title {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.0125em;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}

#mdc-top-app-bar .actions {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 4rem;
    margin: 0 0 0 auto;
}

html[dir="ltr"] #mdc-top-app-bar .actions,
html[dir] #mdc-top-app-bar[dir="ltr"] .actions {
    margin: 0 0 0 auto;
}

html[dir="rtl"] #mdc-top-app-bar .actions,
html[dir] #mdc-top-app-bar[dir="rtl"] .actions {
    margin: 0 auto 0 0;
}

#mdc-top-app-bar .actions > .action-item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1.5rem;
}

html[dir="ltr"] #mdc-top-app-bar .actions > .action-item,
html[dir] #mdc-top-app-bar[dir="ltr"] .actions > .action-item {
    margin-left: 1.5rem;
    margin-right: 0;
}

html[dir="rtl"] #mdc-top-app-bar .actions > .action-item,
html[dir] #mdc-top-app-bar[dir="rtl"] .actions > .action-item {
    margin-left: 0;
    margin-right: 1.5rem;
}

#mdc-top-app-bar .salamat-logo {
    height: 2rem;
}

#mdc-page-content.nano > .nano-pane {
    width: 0.5rem;
}

#mdc-page-content.nano > .nano-pane {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.container-custom {
    width: 100%;
    max-width: 103rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.breadcrumb-container {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.breadcrumb-container > .breadcrumb {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
}

.breadcrumb-container > .breadcrumb > .breadcrumb-item {
    white-space: nowrap;
}

@media (min-width: 960px) {
    html:not([dir]) body,
    html[dir="ltr"] body {
        padding-left: 16rem;
        padding-right: 0;
    }

    html[dir="rtl"] body {
        padding-left: 0;
        padding-right: 16rem;
    }

    html:not([dir]) #mdc-top-app-bar,
    html[dir="ltr"] #mdc-top-app-bar,
    html:not([dir]) .modal.full-screen-dialog,
    html[dir="ltr"] .modal.full-screen-dialog {
        left: 16rem;
        right: 0;
    }
    
    html[dir="rtl"] #mdc-top-app-bar,
    html[dir="rtl"] .modal.full-screen-dialog {
        left: 0;
        right: 16rem;
    }
}

@media (max-width: 959px) {
    #mdc-nav-drawer {
        width: calc(100% - 3.5rem);
        max-width: 20rem;
        left: -20rem;
        right: auto;
        z-index: 16000;
        box-shadow: none;
    }

    html[dir="ltr"] #mdc-nav-drawer {
        left: -20rem;
        right: auto;
    }

    html[dir="rtl"] #mdc-nav-drawer {
        left: auto;
        right: -20rem;
    }

    #mdc-nav-drawer.active {
        left: 0;
        box-shadow: var(--z-axis-16-shadow);
    }

    html[dir="ltr"] #mdc-nav-drawer.active {
        left: 0;
        right: auto;
    }

    html[dir="rtl"] #mdc-nav-drawer.active {
        left: auto;
        right: 0;
    }

    #mdc-nav-drawer.active ~ .mdc-drawer-scrim {
        visibility: visible;
        position: fixed;
        top: -8rem;
        right: -8rem;
        bottom: -8rem;
        left: -8rem;
        background-color: black;
        opacity: 0.5;
        z-index: 15999;
    }

    #mdc-top-app-bar > .nav-icon {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}