body {
    transition: padding 0.3s;
    padding: 0;
    padding-top: 4rem;
}

#mdc-nav-drawer {
    max-width: 20rem;
    min-width: 16rem;
    width: 16rem;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--bg-app-bar));
    /* z-index: 16000; */
    /* border-right: solid 1px var(--salamat-secondary); */
    box-shadow: var(--z-axis-1-shadow);
    transition: all 0.3s;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

html[dir="ltr"] #mdc-nav-drawer {
    left: 0;
    right: auto;
    /* border-right: solid 1px var(--salamat-secondary);
    border-left: none; */
}

html[dir="rtl"] #mdc-nav-drawer {
    left: auto;
    right: 0;
    /* border-right: none;
    border-left: solid 1px var(--salamat-secondary); */
}

#mdc-nav-drawer > .header {
    padding: 0;
    flex: 0 1 auto;
}

#mdc-nav-drawer .header > .barnd-logo {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: rgba(var(--text-color), var(--opacity-secondary));
}

#mdc-nav-drawer .header > .barnd-logo:hover {
    --text-primary: inherit;
    --text-secondary: inherit;
    --text-hint: inherit;
    --text-divider: inherit;
}

#mdc-nav-drawer .header > .barnd-logo > img {
    height: 2rem;
    width: auto;
}

#mdc-nav-drawer .header > .barnd-logo > sub{
    bottom: -0.9em;
    left: 0.5em;
}

#mdc-nav-drawer > nav {
    flex: 1 1 auto;
    overflow: hidden;
}

#mdc-top-app-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: rgb(var(--bg-cards));
    color: rgba(var(--text-color), var(--opacity-primary));
    box-shadow: var(--z-axis-4-shadow);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
    padding: 0 1.5rem;
    transition: top 0.6s, box-shadow 0.3s, transform 0.2s, opacity 0.2s, margin 0.3s, left 0.3s, right 0.3s;
    z-index: 4000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mdc-top-app-bar > .nav-icon {
    display: none;
    margin-right: 1.5rem;
}

html:not([dir]) #mdc-top-app-bar > .nav-icon,
html[dir="ltr"] #mdc-top-app-bar > .nav-icon {
    margin-right: 1.5rem;
    margin-left: 0;
}

html[dir="rtl"] #mdc-top-app-bar > .nav-icon {
    margin-right: 0;
    margin-left: 1.5rem;
}

#mdc-top-app-bar .title {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.0125em;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}

#mdc-top-app-bar .actions {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 4rem;
    margin: 0 0 0 auto;
}

html[dir="ltr"] #mdc-top-app-bar .actions,
html[dir] #mdc-top-app-bar[dir="ltr"] .actions {
    margin: 0 0 0 auto;
}

html[dir="rtl"] #mdc-top-app-bar .actions,
html[dir] #mdc-top-app-bar[dir="rtl"] .actions {
    margin: 0 auto 0 0;
}

#mdc-top-app-bar .actions > .action-item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1.5rem;
}

html[dir="ltr"] #mdc-top-app-bar .actions > .action-item,
html[dir] #mdc-top-app-bar[dir="ltr"] .actions > .action-item {
    margin-left: 1.5rem;
    margin-right: 0;
}

html[dir="rtl"] #mdc-top-app-bar .actions > .action-item,
html[dir] #mdc-top-app-bar[dir="rtl"] .actions > .action-item {
    margin-left: 0;
    margin-right: 1.5rem;
}

#mdc-top-app-bar .salamat-logo {
    height: 2rem;
}

.container-custom {
    width: 100%;
    max-width: 103rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 960px) {
    html:not([dir]) body,
    html[dir="ltr"] body {
        padding-left: 16rem;
        padding-right: 0;
    }

    html[dir="rtl"] body {
        padding-left: 0;
        padding-right: 16rem;
    }

    html:not([dir]) #mdc-top-app-bar,
    html[dir="ltr"] #mdc-top-app-bar {
        left: 16rem;
        right: 0;
    }
    
    html[dir="rtl"] #mdc-top-app-bar {
        left: 0;
        right: 16rem;
    }
}

@media (max-width: 959px) {
    #mdc-nav-drawer {
        width: calc(100% - 3.5rem);
        max-width: 20rem;
        left: -20rem;
        right: auto;
        z-index: 16000;
        box-shadow: none;
    }

    html[dir="ltr"] #mdc-nav-drawer {
        left: -20rem;
        right: auto;
    }

    html[dir="rtl"] #mdc-nav-drawer {
        left: auto;
        right: -20rem;
    }

    #mdc-nav-drawer.active {
        left: 0;
        box-shadow: var(--z-axis-16-shadow);
    }

    html[dir="ltr"] #mdc-nav-drawer.active {
        left: 0;
        right: auto;
    }

    html[dir="rtl"] #mdc-nav-drawer.active {
        left: auto;
        right: 0;
    }

    #mdc-nav-drawer.active ~ .mdc-drawer-scrim {
        visibility: visible;
        position: fixed;
        top: -8rem;
        right: -8rem;
        bottom: -8rem;
        left: -8rem;
        background-color: black;
        opacity: 0.5;
        z-index: 15999;
    }

    #mdc-top-app-bar > .nav-icon {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}